@mixin flex-box($justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin clr-font($bg, $text, $font: inherit) {
  background: $bg;
  color: $text;
  font: $font;
}