// Colors
$black: #000;
$color-background: #fbfbfb;
$color-border: #6F1A07;
$color-header: #051922;
$color-text: #2B2118;
$white: #fff;

// Fonts
$font-body: 'Cookie', cursive;
$font-head: 'Comforter', cursive;
$font-links: 'Satisfy', cursive;
